 body {
  font-family: Arial, sans-serif;
  background: rgb(162, 162, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.trip-form {
  background: #fff;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 300px;
}

.trip-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.trip-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.trip-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.trip-form button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.trip-form button:hover {
  background: #45a049;
} 
.trip-form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
}
